<div class="cont-width">
 <h3 class="head">Disclaimer Policy</h3>
 <hr>
 <br>
 <p class="txt-jstify">
  Please read this document carefully before accessing or using the site. By accessing or using the site, you agree to
  be bound by the terms and conditions set forth below. If you do not wish to be bound by these terms and conditions,
  you may not access or use the site. www.eudyogindia.in may modify this agreement at any time, and such modifications
  shall be effective immediately upon posting of the modified agreement on the site. You agree to review the agreement
  periodically to be aware of such modifications and your continued access or use of the site shall be deemed your
  conclusive acceptance of the modified agreement.
 </p>
 <br>
 <label class="control-form-label"><b>1. Special Disclaimer</b></label>
 <hr class="hrline">
 <p class="txt-jstify">
  Ministry of MSME has not appointed our portal for UAM registration, we are a private consultancy firm and also the
  ministry does not charge any fee for the same, the fees charged by us are our support and consultancy charges and not
  a government fees.
 </p>
 <br>
 <label class="control-form-label"><b>2. Use Of The Site</b></label>
 <hr class="hrline">
 <p class="txt-jstify">
  You understand that, except for information, products or services clearly identified as being supplied by
  www.eudyougindia.in, we does not operate, control or endorse any information, products or services on the internet in
  any way.
 </p>
 <p class="txt-jstify">
  You also understand that www.eudyogindia.in cannot and does not guarantee or warrant that files available for
  downloading through the site will be free of infection or viruses, worms, trojan horses or other code that manifest
  contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to
  satisfy your particular requirements for accuracy of data input and output, and for maintaining a means external to
  the site for the reconstruction of any lost data.
 </p>
 <p class="txt-jstify">
  You assume total responsibility and risk for your use of the site and the internet. www.eudyogindia.in provides the
  site and related information "As is" and does not make any express or implied warranties, representations or
  endorsements whatsoever (including without limitation warranties of title or noninfringement, or the implied
  warranties of merchantability or fitness for a particular purpose) with regard to the service, any merchandise
  information or service provided through the service or on the internet generally, and www.eudyogindia.in shall not
  be liable for any cost or damage arising either directly or indirectly from any such transaction. It is solely your
  responsibility to evaluate the accuracy, completeness and usefulness of all opinions, advice, services, merchandise
  and other information provided through the service or on the internet generally. www.eudyogindia.in does not warrant
  that the service will be uninterrupted or error-free or that defects in the service will be corrected. You understand
  further that the pure nature of the internet contains unedited materials some of which are sexually explicit or may be
  offensive to you. Your access to such materials is at your risk. www.eudyogindia.in has no control over and accepts
  no responsibility whatsoever for such materials.
 </p>
 <br>
 <label class="control-form-label"><b>3. Limitation Of Liability</b></label>
 <hr class="hrline">
 <p class="txt-jstify">
  In no event will www.eudyogindia.in be liable for (I) any incidental, consequential, or indirect damages (including,
  but not limited to, damages for loss of profits, business interruption, loss of programs or information, and the like)
  arising out of the use of or inability to use the service, or any information, or transactions provided on the
  service, or downloaded from the service, or any delay of such information or service. Even if www.eudyogindia.in or
  its authorized representatives have been advised of the possibility of such damages, or (ii) any claim attributable to
  errors, omissions, or other inaccuracies in the service and/or materials or information downloaded through the
  service. Because some states do not allow the exclusion or limitation of liability for consequential or incidental
  damages, the above limitation may not apply to you. In such states, www.eudyogindia.in liability is limited to the
  greatest extent permitted by law.

 </p>
 <br>
 <label class="control-form-label"><b>4. Indemnification</b></label>
 <hr class="hrline">
 <p class="txt-jstify">

  You agree to indemnify, defend and hold harmless www.eudyougindia.in, its officers, employees and any third party
  information providers to the service from and against all losses, expenses, damages and costs, including reasonable
  attorneys' fees, resulting from any violation of this agreement (including negligent or wrongful conduct) by you or
  any other person accessing the service.

 </p>
 <br>
 <label class="control-form-label"><b>5. Miscellaneous</b></label>
 <hr class="hrline">
 <p class="txt-jstify">

  This agreement shall all be governed and construed in accordance with the laws of india applicable to agreements made
  and to be performed in india. You agree that any legal action or proceeding between www.eudyogindia.in and you for
  any purpose concerning this agreement or the parties' obligations hereunder shall be brought exclusively in a federal
  or state court of competent jurisdiction sitting in india. Any cause of action or claim you may have with respect to
  the service must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of
  action is barred.
 </p>

</div>
</div>
<!--end form-bg -->