<div class="body">
  <h3 class="head">Terms & Conditions</h3><br>


  <p> This Website Standard Terms and Conditions written on this web page shall manage your use of our website,
    accessible at
    www.eudyogindia.in
    <br>
    <p> These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to
      accept
      all terms and conditions written in here. You must not use this Website if you disagree with any of these Website
      Standard Terms and Conditions.</p>
    <br>
    <p> Minors or people below 18 years old are not allowed to use this Website. </p><br>
    <br>

    <h3>Intellectual Property Rights</h3>

    <br>
    <p> Other than the content you own, under these Terms, Eudyougindia and/or its licensors own all the intellectual
      property
      rights and materials contained in this Website.</p>
    <br>
    <p> You are granted a limited license only for purposes of viewing the material contained on this Website and
      sharing
      your
      details for consultancy and/or Registrations under any law enacted in India, on payment of consultancy fees.</p>
    <br>
    <br>
    <h3> Restrictions</h3>
    <br>
    <p> You are specifically restricted from all of the following:</p>
    <br>
    <ul>
      <li> publishing any Website material in any other media;</li>
      <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
      <li>publicly performing and/or showing any Website material;</li>
      <li>using this Website in any way that is or may be damaging to this Website;</li>
      <li>using this Website in any way that impacts user access to this Website;</li>
      <li>using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website,
        or
        to
        any
      <li>person or business entity;</li>
      <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to
        this
        Website;</li>
      <li>Using this Website to engage in any advertising or marketing.</li>
    </ul>
    <br>
    <p>
      Certain areas of this Website are restricted from being access by you and Eudyougindia may further restrict access
      by
      you
      to
      any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this
      Website
      are confidential and you must maintain confidentiality as well. <br></p>
    Your Content
    <br>
    <p>
      In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other
      material you choose to display/share on this Website. By displaying Your Content, you grant Eudyougindia a
      non-exclusive,
      worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in
      any
      and
      all media.</p>
    <br>
    <p>
      Your Content must be your own and must not be invading any third-party’s rights. Eudyougindia reserves the right
      to
      remove
      any of Your Content from this Website at any time without notice.</p>
    <h3>Use of Cookies</h3>
    <br>
    <p>
      This webpage uses cookies to monitor the site and give you a better user experience:</p>
    <br>
    <p>
      Essential cookies, used for maintaining essential features on the site.
      Advertising cookies, used for displaying relevant ads.
      Third-party cookies, used for advertising and/or personalized content.</p>
    <br>
    <h3>Privacy Policy & communication & digital marketing</h3>
    <br>
    <p> By submitting application or contact details on this website, user / service receiver / person making enquiry
      gives his
      irrevocable consent to the service provider to send communication of offers, discounts, changes, updating,
      deletions
      or
      any other subject matter by way of SMS, EMAILS, WHATSAPP, CALLS OR ANY OTHER MEANS AS SERVICE PROVIDER DEEMS FIT.
    </p>
    <h3>No warranties & Refunds</h3>
    <br>
    <p> This Website is provided “as is,” with all faults, and Eudyougindia expresses no representations, Refunds or
      warranties, of
      any kind related to this Website or the materials contained on this Website. Also, nothing contained on this
      Website
      shall be interpreted as advising you.</p>
    <br>
    <p> Eudyougindia expressly provides that the consultancy fees paid by the client is Non-refundable in any case and
      no
      claims in
      this regards will be entertained, except where Eudyougindia is unable to provide the services for any reasons
      which
      are
      under the control of Eudyougindia, its Owners, officers, directors and employees.</p>
    <h3>REFUNDS</h3> <br>
    <p> Eudyougindia expressly provides that the fees paid by the client is in the nature of Consultancy Fees. In
      General,
      No
      refunds are entertained by M/s Eudyougindia under any circumstances / or on any basis, in other words Consultancy
      Fees
      Paid
      by client are NON REFUNDABLE.</p>
    <br>
    <p> It must be clearly understood by every client that a huge amount is spent by M/s Eudyougindia on advertising in
      Google
      &
      Other Platforms apart from normal business fixed and recurring costs. Eudyougindia pays advertisement cost based
      on
      clicks
      by customer. Such costs are incurred when the client clicks on our website ads. Even though client has not
      submitted
      his
      documents and details but costs are incurred & are borne by M/s Eudyougindia.</p>
    <br>
    Thus to recover such costs, Consultancy fees paid by client is NON REFUNDABLE.
    <br>
    However, Where the Client requests in writing to cancel his order within 24 hours from the time of making payment,
    Eudyougindia officials will consider the merits of the case & decide upon the refund. In such cases also, amount of
    refund
    cannot exceed 50.00% of the amount paid by client.
    <br>
    It is hereby expressly provided that where client requests for cancellation / refund of fees after 24 hours of
    making
    payment, NO REFUND CLAIMS WILL BE ENTERTAINED.
    <br>
    Decision on refunds taken by M/s Eudyougindia shall be final & binding upon the client.
    <br>

    Turn Around Time (TAT)
    <br>
    The time frame mentioned on the website is only indicative in nature, the actual time duration for delivery of
    services
    depends upon various external factors, which are out of reach of the Eudyougindia, its Owners, officers, directors
    and
    employees. Thus any such delay arising shall not be attributable to Eudyougindia, its Owners, officers, directors
    and
    employees. And Eudyougindia, its Owners, officers, directors and employees can not be held responsible for delay in
    delivery
    of services.
    <br>
    No refund claims shall be entertained on the basis of delay in delivery of services.
    Limitation of liability
    <br>
    In no event shall Eudyougindia, its Owners, officers, directors and employees, shall be held liable for anything
    arising
    out
    of or in any way connected with your use of this Website whether such liability is under contract. Eudyougindia,
    including
    its Owners, officers, directors and employees shall not be held liable for any indirect, consequential or special
    liability arising out of or in any way related to your use of this Website.
    <br>
    Under any circumstances/events the liability of the Owners, officers, directors and employees will not exceed the
    amount
    of Consultancy Fees collected from the Client.
    Indemnification
    <br>
    You hereby indemnify to the fullest extent Eudyougindia from and against any and/or all liabilities, costs, demands,
    causes
    of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.
    Severability
    <br>
    If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted
    without affecting the remaining provisions herein.
    Variation of Terms
    <br>
    Eudyougindia is permitted to revise these Terms at any time as it sees fit, and by using this Website you are
    expected
    to
    review these Terms on a regular basis.
    Assignment
    <br>
    Eudyougindia is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without
    any
    notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations
    under these Terms.
    Standard Procedure
    <br>
    For the purpose of MSME/Udyog Aadhaar Registration, we have a fixed procedure.
    <br>
    Once we receive an order from you, we will give you a call on the next possible business hours slot.
    Our representatives will start processing for your certificate and will send an OTP on your registered mobile number
    linked with Aadhaar Card (UIDAI), the client must share the OTP received to further process the certificate.
    In-case the client denies to share the OTP we will not be able to process the certificate. No refunds for such cases
    will be entertained.
    In-case the mobile number is not linked with Aadhaar Card then client has to provide his/her PAN Card Scan Copy and
    in
    such cases the certificate will be delivered after 48 – 60 working hours of providing the PAN Card.
    If the call is not received, we will try again within 2 days to complete the procedure. After this, we will also
    send
    an
    email with details with further actions to be taken.
    <br>
    Entire Agreement
    <br>
    These Terms constitute the entire agreement between Eudyougindia and you in relation to your use of this Website,
    and
    supersede all prior agreements and understandings.
    Governing Law & Jurisdiction
    <br>

    <br>
</div>