<div class="body">
  <div class="head">
    <h1>Warranties & Refunds</h1>
    <h3>No Warranties & Refunds</h3>
  </div><br><br>
  <p> This Website is provided “as is,” with all faults, and Eudyogindia expresses no representations, Refunds or
    warranties, of
    any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website
    shall be interpreted as advising you.</p>

  <p> Eudyogindia expressly provides that the consultancy fees paid by the client is Non-refundable in any case and no
    claims in
    this regards will be entertained, except where Eudyogindia is unable to provide the services for any reasons which
    are
    under the control of Eudyogindia, its Owners, officers, directors and employees.</p><br>
  <h4>Refunds</h4><br>
  <p> Eudyogindia expressly provides that the fees paid by the client is in the nature of Consultancy Fees. In General,
    No
    refunds are entertained by M/s Eudyogindia under any circumstances / or on any basis, in other words Consultancy
    Fees
    Paid
    by client are NON REFUNDABLE.</p>

  <p> It must be clearly understood by every client that a huge amount is spent by M/s Eudyogindia on advertising in
    Google
    &
    Other Platforms apart from normal business fixed and recurring costs. Eudyogindia pays advertisement cost based on
    clicks
    by customer. Such costs are incurred when the client clicks on our website ads. Even though client has not submitted
    his
    documents and details but costs are incurred & are borne by M/s Eudyogindia.</p>

  <b> Thus to recover such costs, Consultancy fees paid by client is NON REFUNDABLE.</b><br><br>

  <p> However, Where the Client requests in writing to cancel his order within 24 hours from the time of making payment,
    Eudyogindia officials will consider the merits of the case & decide upon the refund. In such cases also, amount of
    refund
    cannot exceed 50.00% of the amount paid by client.</p>

  <p> It is hereby expressly provided that where client requests for cancellation / refund of fees after 24 hours of
    making
    payment, NO REFUND CLAIMS WILL BE ENTERTAINED.</p>

  <p>Decision on refunds taken by M/s Eudyogindia shall be final & binding upon the client.</p>
</div>